{% extends 'main/base_generic.html' %}
{% load static %}

{% block title %}Mis fincas{% endblock %}

{% block content %}
<h3 class="card-title text-center" style="margin-bottom: 15px;">Detalles</h3>
<div class="d-flex flex-column align-items-center" style="height: 90%;">
  <div class="scrollable-container">
    <br>
    <div class="text-end mt-3 me-4"> 
      <a class="btn btn-primary" href="{% url 'new_estate' %}" role="button">Nueva finca</a>
    </div>
    <br>
    <div class="container-sm border card">
      <h3 class="card-title">Mis fincas</h3>
      <table class="table table-responsive-md table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Dirección</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          {% for i in estates %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'view_estate' estate_id=i.id %}">{{i.nombre_finca}}</a></td>
            <td>{{i.direccion}}</td>
            <td>{{i.telefono}}</td>
            <td><button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#vincularModal"
                data-estate-id="{{i.id}}">Vincular ganado</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <br>

    <br>
    <br>
    <div class="text-end mt-1 me-4"> 
      <a class="btn btn-primary" href="{% url 'new_cattle' %}" role="button">Nueva vaca</a>
    </div>
    <br>
    {% for estate, cattle in cattle_by_estate.items %}
    <div class="container-sm border card">
      <h3 class="card-title">Ganado asociado a {{ estate.nombre_finca }}</h3>
      <div class="table-container">
        <table class="table table-responsive-md table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cabeza</th>
              <th scope="col">Lote</th>
              <th scope="col">Potrero</th>
            </tr>
          </thead>
          <tbody>
            {% for cattle_item in cattle %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td><a
                  href="{% url 'cattle_info' cattle_id=cattle_item.cabeza_ganado.id %}">{{cattle_item.cabeza_ganado.id}}</a>
              </td>
              <td>{{ cattle_item.lote }}</td>
              <td>{{ cattle_item.potrero }}</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="4">No hay ganado asociado a esta finca.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <br>
    {% endfor %}
    <br>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="vincularModal" tabindex="-1" aria-labelledby="vincularModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="vincularModalLabel">Vincular ganado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'new_cattle' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" id="idEstate" name="inputEstate">
          <div class="form-group">
            <label for="idCustomerName">Nombre del cliente</label>
            <input type="text" class="form-control" id="idCustomerName" name="inputCustomerName" placeholder="John Doe"
              required aria-describedby="help">
          </div>
          <div class="form-group">
            <label for="idWeight">Peso (Kg)</label>
            <input type="number" class="form-control" id="idWeight" name="inputWeight" placeholder="450.00" min="0"
              max="1000" step="0.01" required aria-describedby="help">
          </div>
          <div class="form-group">
            <label for="idBirthdate">Fecha de nacimiento</label>
            <input type="date" class="form-control" id="idBirthdate" name="inputBirthdate" placeholder="2022-01-01"
              required aria-describedby="help">
          </div>
          <div class="form-group">
            <label for="idBreed">Raza</label>
            <select id="idBreed" name="inputBreed" class="form-select" required>
              <option value="" selected disabled>--Seleccione una--</option>
              {% for i in breeds %}
              <option value="{{ i.id }}">{{ i.nombre_raza }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="idType">Tipo de producción</label>
            <select id="idType" name="inputType" class="form-select" required>
              <option value="" selected disabled>--Seleccione una--</option>
              {% for i in cow_types %}
              <option value="{{ i.id }}">{{ i.nombre_tipo }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="idLot">Lote</label>
            <input type="number" class="form-control" id="idLot" name="inputLot" placeholder="13" min="0" step="1"
              required aria-describedby="help">
          </div>
          <div class="form-group">
            <label for="idPaddock">Potrero</label>
            <input type="number" class="form-control" id="idPaddock" name="inputPaddock" placeholder="1234" min="0"
              step="1" required aria-describedby="help">
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Nueva vaca</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const vincularModal = document.getElementById('vincularModal');
    vincularModal.addEventListener('show.bs.modal', (event) => {
      const button = event.relatedTarget;
      const estateId = button.getAttribute('data-estate-id');
      const estateInput = vincularModal.querySelector('#idEstate');
      estateInput.value = estateId;
    });
  });
  document.addEventListener('DOMContentLoaded', function () {
    const today = new Date().toISOString().split('T')[0];
    document.getElementById('idBirthdate').setAttribute('max', today);
  });
</script>
{% endblock %}